@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "HorrorFont", sans-serif; /* 👈 ここにフォント指定を追加するなど */
  }
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}
